<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Landmark.all son!</title>
  </head>
  <body>
    <h1>Landmark.all son!</h1>

    <ol>
    <% @landmarks.each do |landmark| %>
      <li>
        <h2><%= landmark.name %></h2>
        <h3><%= landmark.year_completed %></h3>
      </li>
    <% end %>
    </ol>

  </body>
</html>
