<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create New Landmark</title>
  </head>
  <body>
    <h1>Create your new Landmark, hey there folks :)</h1>

    <!-- Form Begins -->
    <form method="post" action="/landmarks">

      <!-- Name of Landmark -->
      <label for="name">Landmark Name</label>
      <input id="landmark_name" type="text" name="landmark[name]">

      <br><br>

      <!-- Year Completed -->
      <label for="Year Completed">Year Completed</label>
      <input id="landmark_year_completed" type="text" name="landmark[year_completed]">

      <!-- Submit -->
      <p><input id="submit" type="submit" value="Create New Landmark"></p>


    </form>
    <!-- Form Ends -->

  </body>
</html>
